.sessionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.forminput {
    height: 30px;
    width: 300px;
}

.formsubmit {
    background-color: rgb(37, 228, 37);
    border: none;
    border-radius: 12px;
    padding: 15px;
}