#main-app-container {
    // display: flex;
    background-color: rgb(49, 48, 48);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-navbar {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    justify-content: space-between;
}

#sidebar-container {
    // position: fixed;
    // height: 100vh;
    // width: 25vw;
    height: 100vh;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar-container div{
    display: flex;
    flex-direction: column;
}

#sidebar-container div a {
    color: white;
    text-decoration: none;
}

.sidebar-nav {
    margin: 10px;
}

.sidebar-library {
    margin: 10px;
}

.separator {
    width: 100%;
    border: 1px solid gray;
}

.sidebar-playlists {
    margin: 10px;
}

#home-container {
    display: block;
    margin-left: 20%;
    height: 100vh;
}

#dropdown-container {
    background-color: black;
    color: white;
}

#dropdown-content {
    color: white;
    border: 1px solid white;
    margin-top: 10px;
    z-index: 9;
}