.artist-show-container {
    // display: flex;
    // flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    // margin-left: 20%;
    border: 1px solid white;
}

.artist-show-header{

    height: 25%;

    border: 3px solid red;
}

#artist-banner-container {
    height: 100%;
    width: 100%;
    contain: content;
    border: 1px solid blue;
}

#artist-banner-img {
    max-height: 100%;
    max-width: 100%;
}

#artist-header {
    // z-index: 9;
    border: 1px solid green;
}

.artist-bio-container {

    height: 40%;
    width: 100%;

    border: 1px solid blue;
}
.artist-bio {

    height: 100%;
    width: 100%;
    border: 1px solid red;
}

#bio-picture {
    max-height: 100%;
    max-width: 100%;
}

#artist-bio-text {
    z-index: 1;
    border: 1px solid green;
}