#home-container {
    // display: block;
    // // position: relative;
    // padding: 150px 100px 100px 25px;
    // margin-left: 20%;

    // font-size: 50px;
}

#home-header h1{
    padding: 150px 100px 100px 25px;
    margin-left: 20%;

    font-size: 50px;
}

