#main-app-container {
    // display: flex;
    // background-color: rgb(49, 48, 48);
    // background-image: linear-gradient(180deg, red, yellow);
    background-image: linear-gradient(180deg, rgba(33, 0, 183, 0.804), rgb(0, 0, 0), rgb(0, 0, 0));
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    // position: relative;
}

#main-content {
    margin-left: 20%;
    height: 100%;
    width: 80%
}
