#main-navbar {
    display: flex;
    position: fixed;
    height: 7.5%;
    width: 80%;
    margin-left: 20%;
    justify-content: space-between;
    z-index: 999;
    // background-color: purple;

    border: 1px solid white;
}

#nav-buttons-container {
    display: flex;
    justify-content: center;
    width: 200px;

    border: 1px solid white;
}
#nav-buttons {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-evenly;

    border: 1px solid red;
}

#nav-buttons button {
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}